@use '../../scss-variables' as *;

.Panel {
  p {
    color: $font-black;
    font-size: $font-small;
    white-space: pre-line;
  }
  .Title {
    font-size: $font-medium;
    font-weight: 600;
    line-height: $standard-lh;
    border-bottom: 0.5px solid black;
  }

  .TextContainer {
    margin-top: 20px;
  }

  &.black {
    p {
      color: $background-white;
    }
    
    .Title {
      border-bottom: 0.5px solid white;
    }

  }

  a {
    color: inherit;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 100ms;

    &:hover {
      color: rgba(255, 0, 151, 0.9);
      text-decoration-color: rgba(255, 0, 151, 0.9);
      overflow: hidden;
    }
  }



}