@use '../../scss-variables' as *;

.MarqueeWrapper {
  display: none;

  @media (min-width: 1200px) {
    display: block;
    left: 55%;
    // height: 100%;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    position: absolute;
  }
  
  .MarqueeContainer {
    &__Inner {
      p {
        // overflow: hidden;
        white-space: pre;
        // height: 100%;
        animation: marquee 10s linear infinite;
        display: inline-flex;
        
        span {
          display: inline-block;
          padding-right: 10px;
          font-size: 1rem;
        }
      }
  
    }

  }
}


@keyframes marquee {
	from {
		transform: translateY(50%);
	}
	to {
		transform: translateY(-100%);
	}
}