@use '../../scss-variables' as *;

.MarqueeWrapper {
	left: 55%;
	height: 100%;
	writing-mode: vertical-rl;
	text-orientation: sideways-right;
  position: absolute;
}

.MarqueeContainer {
  &__Inner {
    p {
      overflow: hidden;
      white-space: nowrap;
      height: 100%;
    }
    span {
      animation: marquee 100s linear infinite;
      display: inline-flex;
      padding-right: 10px;
      font-size: 1rem;
    }
  }
}

@keyframes marquee {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}