$font-primary: 'Inter', sans-serif;
$font-weight-light: 400;
$font-weight-regular: 300;

$font-secondary: "orpheuspro",serif;

$font-large: 4.5vw;
$font-medium: 2.5vw;
$font-small: 1.25vw;

$font-white: white;

$padding-standard: 1rem;
