$font-primary: 'Inter', sans-serif;
$font-weight-light: 400;
$font-weight-regular: 300;

$font-secondary: "orpheuspro",serif;

$font-header: 2.2rem;
$font-large: 1rem;
$font-medium: 1rem;
// $font-small: 1vw;
$font-small: 0.45rem;

$font-small-mob: 1rem;

$font-white: white;
$font-black: black;
$background-white: white;
$background-black: black;

$padding-standard: 1rem;

$padding-panel: 0.6rem;

// Ensure top/bottom values match:
$padding-column-panel: 2rem 0;
$padding-column-panel-top-bottom: 2rem;

$standard-lh: 1.8rem;
